################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EStoreProduct_1011/.vs/EStoreProduct_1011.slnx/v18
