################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EStoreProduct_1011/.vs/EStoreProduct_1011.slnx/v18
/EStoreProduct_1011/.vs/EStoreProduct_1011/CopilotIndices/18.6.39577.51406
/EStoreProduct_1011/.vs/EStoreProduct_1011.slnx
